[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy-financial = "*"
boto3 = "*"
slack-sdk = "*"

[dev-packages]

[requires]
python_version = "3.11"
